<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="altcover" version="8.2.831" targetFramework="net472" />
  <package id="altcover.api" version="8.2.831" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="17.0.0" targetFramework="net472" />
  <package id="OpenCover" version="4.7.1221" targetFramework="net472" />
</packages>